r.PostWrapper {
  margin-top: 3em;
  position: relative;
  background-color: white;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.title {
  margin-right: 1em;
}

.author {
  margin-left: 1em;
}

#authorInput,
#titleInput {
  display: block;
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 6px;
  width: 20em;
  border: none;
}

.postHeader {
  font-size: 2em;
  padding-top: 1em;
}

input:focus {
  outline: none;
}

#contentInput {
  display: block;
  background-color: #e5e5e5;
  justify-content: center;
  padding: 60px;
  border-radius: 6px;
  width: 40em;
  border: none;
}

.wrapperContent {
  justify-content: center;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  justify-content: start;
}

#submit {
  width: 150px;
  height: 2.5rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #0d1b2a;
  margin-top: 25px;
}

#submit:hover {
  background-color: #16477c;
}
