.navbar-body {
  padding: 20px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  height: 2em;
  background: #0d1b2a;
  font-family: "Poppins", sans-serif;
}

.navbar-title {
  color: #bee3db;
  font-size: 1.5rem;
}
