.singlePostWrapper {
  margin-top: 3em;
  margin-bottom: 3em;
  position: relative;
  background-color: #fe938c;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.post__header {
  padding: 0.5em;
}

.post__meta {
  padding: 0.5em;
}

.post__title {
  font-size: 28px;
  text-decoration: underline;
}

.post__actions {
  padding: 1em;
}

#edit {
  margin-right: 4px;
  background-color: #0d1b2a;
  color: white;
}

#delete {
  margin-left: 4px;
  background-color: #0d1b2a;
  color: white;
}
